{% extends "layout.html" %}

{% block title %}
    login
{% endblock %}


{% block main %}

    <div class="form-container">

        <form action="/login" method="post">
    
            <h1>Login</h1>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                <input autocomplete="off" class="form-control" name="password" placeholder="Password" type="text">
            </div>
            
            <button class="btn btn-primary" type="submit" name="submit-button" id="submit-button">Login</button>
    
        </form>
    </div>

{% endblock %}

