{% extends "layout.html" %}

{% block title %}
manage profile
{% endblock %} 

{% block main %}

    <div class="form-container">
        <h3>
            This is where you manage your profile
        </h3>

        <hr>
        <form action="/change-pass">
            <button class="btn btn-primary" type="submit" name="change-pass" id="submit-button">Change Password</button>
        </form> 

        <form action="/delete-account">
             <button class="btn btn-primary" type="submit" name="delete-acc" id="submit-button">Delete account</button>
             
        </form>
    </div>


{% endblock %} 